<html lang="en">

<head>
    <link rel="stylesheet" href="content/css/templatemo_misc.css">
    <link rel="stylesheet" href="content/css/templatemo_style.css">
    <link rel="stylesheet" href="content/css/styles.css">
</head>

<body>

<div class="templatemo_workwrapper" id="templatemo_work_page">
    <div class="container">
        <div class="row">
            <h1>Current Projects</h1>
            <div class="col-md-12 templatemo_workmargin">Donec leo sem, commodo in, bibendum iaculis, euismod vitae,
                risus. Suspendisse a erat id urna dapibus varius. Proin facilisis, nisi eget rutrum rutrum, sapien arcu
                molestie sem, eget gravida sapien nisi in ante.
            </div>
        </div>
    </div>
    <div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/1.jpg" alt="work 1">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #001</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/1.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/2.jpg" alt="work 2">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #002</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/2.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/3.jpg" alt="work 3">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #003</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/3.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/4.jpg" alt="work 4">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #004</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/4.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/5.jpg" alt="work 5">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #005</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/5.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/6.jpg" alt="work 6">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #006</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/6.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/7.jpg" alt="work 7">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #007</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/7.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
        <div class="templatemo_workbox">
            <div class="gallery-item"><img src="content/images/work/8.jpg" alt="work 8">
                <div class="overlay">
                    <div class="templatemo_worktitle">Project #008</div>
                    <div class="templatemo_workdes">Morbi et nisi in augue accumsan imperdiet</div>
                    <div class="templatemo_worklink"><a href="content/images/work/8.jpg" data-rel="lightbox"
                                                        class="fa fa-search-plus"></a></div>
                    <div class="templatemo_worklink"><a href="#" class="fa fa-link"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="content/js/templatemo_custom.js"></script>
</body>
</html>
