
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" translate="rentitApp.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rentitApp.message.dateTime" for="field_dateTime">Date Time</label>
            <input type="text" class="form-control" name="dateTime" id="field_dateTime"
                    ng-model="vm.message.dateTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rentitApp.message.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.message.text"
                     />
        </div>

        <div class="form-group">
            <label translate="rentitApp.message.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.message.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="rentitApp.message.receiver" for="field_receiver">Receiver</label>
            <select class="form-control" id="field_receiver" name="receiver" ng-model="vm.message.receiver" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
