<html lang="en">
<head>
    <meta name="google-site-verification" content="RR_k_66J9hPyzSYD5gplb_uh4vJKFd38Y8ADCPlGfnA"/>
    <meta name="google" value="notranslate">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800'
          rel='stylesheet' type='text/css'>

</head>
<body>
<div class="templatemo_contactwrapper" id="templatemo_contact_page">
    <div class="container">
        <div class="row">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="templatemo_contactmap">
        <div id="templatemo_map"></div>
    </div>
    <div class="container templatemo_contactmargin">
        <div class="row">
            <div class="col-md-3">
                <div class="templatemo_address_title">Mailing Address:</div>
                Shenzhen, China
                <div class="clear"></div>
                <div class="templatemo_address_left">Call us:</div>
                <div class="templatemo_address_right">+86 157 6889 3990</div>
                <div class="clear"></div>
                <div class="templatemo_address_left">Hot line:</div>
                <div class="templatemo_address_right">+86 157 6889 3990</div>
                <div class="clear"></div>
                <div class="templatemo_address_left">Email us:</div>
                <div class="templatemo_address_right">pl.pastukhov@gmail.com</div>
            </div>
            <form action="#" method="post">
                <div class="col-md-9">
                    <div class="col-md-4">
                        <input type="text" name="name" id="name" class="name" placeholder="Your Name">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="email" id="email" class="email" placeholder="Your Email">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="subject" id="subject" class="subject" placeholder="Subject">
                    </div>
                    <div class="col-md-12">
                        <textarea name="message" cols="1" rows="1" class="message" placeholder="Your message... "
                                  id="message"></textarea>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" name="send" value="Send Message" id="submit"
                               class="button templatemo_sendbtn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
