<div ng-cloak>
    <div class="row">
        <div class="container search_form">

            <div class="">
                <form name="searchForm" class="form-inline">
                    <div class="search-group">
                        <div class="input-search-prod">
                            <input type="text" class=" search_input search-input" ng-model="vm.searchQuery"
                                   id="searchQuery" placeholder="{{ 'I need...' | translate }}">
                            <button class="btn btn-lg active btn-success" ng-click="vm.search(vm.searchQuery)">
                                Search product
                            </button>
                        </div>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div>
                    <table border="2px" class="jh-table table table-striped">
                        <tbody>
                        <tr ng-repeat="product in vm.products track by product.id">
                            <td><a ui-sref="product-detail({id:product.id})">{{product.id}}</a></td>
                            <td>{{product.title}}</td>
                            <td>{{product.image}}</td>
                            <td>
                        <span ng-repeat="category in product.categories">
                            <a class="form-control-static" ui-sref="category-detail({id: {{category.id}}})">{{category.title}}</a>{{$last ? '' : ', '}}
                        </span>
                            </td>
                            <td>
                        <span ng-repeat="tag in product.tags">
                            <a class="form-control-static" ui-sref="tag-detail({id: {{tag.id}}})">{{tag.name}}</a>{{$last ? '' : ', '}}
                        </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <p>
            </p>
        </div>
    </div>
