<div class="templatemo_servicewrapper" id="templatemo_service_page">
    <div class="container">
        <div class="row">
            <h1>Services</h1>
            <div class="col-md-12 templatemo_marginbot">You can easily <strong>change icons</strong> by looking at
                guidelines from <a rel="nofollow" href="http://fontawesome.info/font-awesome-icon-world-map/">Font
                    Awesome</a>. Example: <strong>&lt;i class=&quot;fa fa-camera&quot;&gt;&lt;/i&gt;</strong> Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam dapibus leo quis nisl. In lectus. Vivamus
                consectetuer pede in nisl. Mauris cursus pretium mauris. Pellentesque habitant morbi tristique senectus
                et netus et malesuada fames ac turpis egestas.
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="templatemo_servicebox margin_bottom_1col margin_bottom_2col">
                    <div class="templatemo_serviceicon"><span class="fa fa-pencil-square-o"></span></div>
                    <div class="templatemo_service_title">Phasellus sed metus</div>
                    <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim
                        tristique risus.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="templatemo_servicebox margin_bottom_1col margin_bottom_2col">
                    <div class="templatemo_serviceicon"><span class="fa fa-home"></span></div>
                    <div class="templatemo_service_title">Web Design</div>
                    <p>Conquer is free HTML5 template by <span class="blue">template</span><span class="green">mo</span>.
                        Feel free to download, edit and use this template for any purpose.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="templatemo_servicebox margin_bottom_1col">
                    <div class="templatemo_serviceicon"><span class="fa fa-download"></span></div>
                    <div class="templatemo_service_title">Free Download</div>
                    <p>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this
                        template. Curabitur rhoncus felis quis nibh pulvinar.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="templatemo_servicebox">
                    <div class="templatemo_serviceicon"><span class="fa fa-random"></span></div>
                    <div class="templatemo_service_title">Mobile Friendly</div>
                    <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim
                        tristique risus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
