
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTimeSlotLabel" translate="rentitApp.timeSlot.home.createOrEditLabel">Create or edit a Time Slot</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.timeSlot.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.timeSlot.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rentitApp.timeSlot.dateTime" for="field_dateTime">Date Time</label>
            <input type="text" class="form-control" name="dateTime" id="field_dateTime"
                    ng-model="vm.timeSlot.dateTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="rentitApp.timeSlot.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.timeSlot.duration"
                     />
        </div>

        <div class="form-group">
            <label translate="rentitApp.timeSlot.booking" for="field_booking">Booking</label>
            <select class="form-control" id="field_booking" name="booking" ng-model="vm.timeSlot.booking" ng-options="booking as booking.id for booking in vm.bookings track by booking.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
